@model PruebaIntelitech.Models.DetalleFacturas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleFacturas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Facturas.CodigoFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facturas.CodigoFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetalleFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
