@model IEnumerable<PruebaIntelitech.Models.DetalleFacturas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Facturas.CodigoFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Facturas.CodigoFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDetalleFactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDetalleFactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDetalleFactura })
        </td>
    </tr>
}

</table>
