@model PruebaIntelitech.Models.Productos

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados - Creación </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("InteliTech", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Crear Empleados", "Index", "Empleados")</li>
                    <li>@Html.ActionLink("Crear Cliente", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("Crear Productos", "Index", "Productos")</li>
                    <li>@Html.ActionLink("Crear Factura", "Create", "Facturas")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="div_Left">

        <div class="contenedor">
            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>
            <hr />
            <h4>Eliminar producto</h4>
            <hr />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <b> @Html.DisplayNameFor(model => model.Codigo) </b>
                        @Html.DisplayFor(model => model.Codigo)

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <b> @Html.DisplayNameFor(model => model.NombreProducto)</b>
                        @Html.DisplayFor(model => model.NombreProducto)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <b> @Html.DisplayNameFor(model => model.Estado)</b>
                        @Html.DisplayFor(model => model.Estado)
                    </div>
                </div>
            </div>

            <h5>¿Estás seguro de eliminar el producto?</h5>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-default" />
                </div>
            }

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
